@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FontinRegular';
    src: url('https://web.poecdn.com/font/fontin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HYJinLingKeJing';
    src: url('https://game.gtimg.cn/images/poe/act/new20240704/HYJinLingKeJing.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fzqk';
    src: url('https://game.gtimg.cn/images/poe/act/new20240704/fzqkm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: black;
}

body {
    color: #a38d6d;
    background-image: url('/image/bg.webp');
    background-color: rgb(var(--background-start-rgb));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 添加这一行 */
    font-family: 'HYJinLingKeJing', Verdana, Arial, Helvetica, sans-serif;
}

body .title {
    font-family: 'fzqk', 'FontinRegular', Verdana, Arial, Helvetica, sans-serif;
    color: #dfcf99;
}

body .content {
    height: 100px; /* 固定高度 */
    overflow: hidden; /* 隐藏多余内容 */
    text-overflow: ellipsis; /* 显示省略号 */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 显示的行数 */
    -webkit-box-orient: vertical;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
