@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FontinRegular';
    src: url('https://web.poecdn.com/font/fontin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: black;
}

body {
    color: #a38d6d;
    background-image: url('/image/bg.webp');
    background-color: rgb(var(--background-start-rgb));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 添加这一行 */
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body .title {
    font-family: "Zhi Mang Xing", 'FontinRegular', Verdana, Arial, Helvetica, sans-serif;
    color: #dfcf99;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
